body {
	background: url("images/my_-background.png") no-repeat top left;
}

@font-face {
    font-family: 'CalligraphyFLFRegular';
    src: url('CalligraphyFLF.eot');
    src: local('CalligraphyFLF Regular'), local('CalligraphyFLF'), url('CalligraphyFLF.ttf') format('truetype');
}

.box {
	background: url("http://www.google.de/logo.png") no-repeat;
}

.box2 {
	background: url('/');
}

.box3 {
	background: url( 'path/to/my-picture.jpg' );
}

.box4 {
  background: url('path/to/my/retina/image@2x.png');
}

.box5 {
  background: url('/overwrite/with/options.png');
}